.header {
  background-color: #fff;
  z-index: 110;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.header__logo-img {
  width: 245px;
  height: 75px;
}

.header__slogan {
  color: #614775;
  font-family: "Montserrat";
}

.header__top-item {
  font-family: "Nunito Sans", sans-serif;
  font-size: 15px;
  font-weight: bold;
  color: #171717;
  padding: 0 0 3px;
  border-width: 0 0 1px;
  border-style: solid;
  border-color: #171717;
  transition: all 0.2s ease-in-out;
}

.header__top-li:after {
  content: "|";
  margin-left: 8px;
  color: #7b7b7b;
}

.header__top-item:hover {
  color: #171717 !important;
  border-width: 0 0 1px;
  border-color: #fff;
}

.header__top-item-btn {
  margin-left: 25px;
  padding: 12px 20px;
  background-color: #729749;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-family: "Montserrat";
  transition: all 0.2s ease-in-out;
}

.header__top-item-btn:hover {
  color: #fff;
  background-color: #614775;
}

.header__nav > li {
  margin-left: 20px;
}

.header__nav:last-child {
  margin-right: 0;
}

.header__nav-item {
  color: #614775;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  font-family: "Montserrat";
}

.header__nav-item:hover {
  text-decoration: none;
  color: #729749;
}
